.themeLink {
    position: absolute;
    top: 50px;
    right: 50px;
}

.container {
    height: calc(100vh - 50px);
    width: calc(100vw - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}