.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interactiveBoard {
    display: flex;
    flex-direction: row;
}

.newsLink {
    position: absolute;
    top: 50px;
    right: 50px;
}

.button {
    margin: 150px 25px 0 25px;
}